<div class="header-wrapper">
<div class="header">
    <div class="welcome">
        <p> THE ONLINE LIBRARY </p>
    </div>
    <div class="signIn" style="display: flex; gap: 1em; align-items: center;">
        <div class="searchBar" style="margin-right: 5em;">
            <app-searchbar></app-searchbar>
        </div>
        <div class="profilePic" style="height: 2.5em; width: 2.5em;">
            <img src="https://placehold.net/avatar.svg" alt="Profile Picture"
                style="height: 100%; width: 100%; border-radius: 50%;">
        </div>
    <div class="button-wrapper" style="padding: 2.5px;">
        <button>Sign In</button>
    </div>
    </div>
</div>
</div>